$border: 1px solid #ccc;
$background: rgb(43, 59, 202);

.box1{
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    border: $border;
    background: $background;
    padding-bottom: 1rem;

    h2{
        text-align: center;
        color: rgb(250, 252, 251);
        
    }

}